body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: rgb(70, 70, 70);
    line-height: 1.8;
}


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../img/developer01.jpeg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../img/developer04.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../img/developer05.jpg");
    min-height: 400px;
}
.bgimg-4{
    background-image: url("../img/contacto.jpg");
    min-height: 400px;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
a:hover{
  text-decoration: none;
}
#home > div {
  width: 100%;height: auto;
}
#home > div > img{
  position: absolute;
  width: 40%;height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home > div > span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 30pt;
}
.boton{
  float:right;
  margin-top:25px;
}

.w3-container > .container i{
  font-size: 64px;
  margin: auto;
  display: block;
  text-align: center;
}
.w3-container > .container p{
  text-align: center;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3,.bgimg-4{
      background-attachment: scroll;
    }
    #home > div > img{
      width: 100%;
    }
    #home > div > span{
      font-size: 27px !important;
    }
    .bgimg-3 > div > span , .bgimg-4 > div > span{
      font-size: 25px !important;
    }
    .bgimg-4{
      background-position: 25% center;
    }
    .boton{
      display: block;
      margin: auto;
      float: none;
    }
}
